.pdf-scale {
  transform: scale(1.25);
  transform-origin: top left;
  width: 125% !important;
}

.pdf-hide {
  display: block;
}
.pdf-scale .pdf-hide {
  display: none !important;
}

.pdf-show {
  display: none;
}
.pdf-scale .pdf-show {
  display: block !important;
}
